In [34]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [35]:
df = pd.read_csv('balance-scale.data.csv')

In [36]:
df.head()

,Unnamed: 0,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance
0,0,B,1,1,1,1
1,1,R,1,1,1,2
2,2,R,1,1,1,3
3,3,R,1,1,1,4
4,4,R,1,1,1,5

In [37]:
df.tail()

,Unnamed: 0,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance
620,620,L,5,5,5,1
621,621,L,5,5,5,2
622,622,L,5,5,5,3
623,623,L,5,5,5,4
624,624,B,5,5,5,5

In [38]:
feature = ['Left-Weight','Left-Distance','Right-Weight','Right-Distance']
x = df.loc[:,feature]
y = df.loc[:,'Class Name']
x = StandardScaler().fit_transform(x)         
print(x)

[[-1.41421356 -1.41421356 -1.41421356 -1.41421356]
 [-1.41421356 -1.41421356 -1.41421356 -0.70710678]
 [-1.41421356 -1.41421356 -1.41421356  0.        ]
 ...
 [ 1.41421356  1.41421356  1.41421356  0.        ]
 [ 1.41421356  1.41421356  1.41421356  0.70710678]
 [ 1.41421356  1.41421356  1.41421356  1.41421356]]

In [39]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state = 4)
print (X_train.shape)
print (X_test.shape)

knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print(y_pred)

(375, 4)
(250, 4)
['L' 'R' 'L' 'L' 'R' 'L' 'R' 'R' 'R' 'L' 'R' 'R' 'R' 'R' 'L' 'L' 'R' 'L'
 'L' 'R' 'R' 'B' 'L' 'L' 'R' 'L' 'L' 'R' 'L' 'R' 'L' 'L' 'B' 'L' 'R' 'R'
 'R' 'L' 'L' 'R' 'R' 'L' 'B' 'L' 'R' 'R' 'B' 'L' 'R' 'B' 'L' 'L' 'R' 'L'
 'L' 'R' 'R' 'R' 'L' 'L' 'L' 'L' 'L' 'R' 'R' 'L' 'L' 'R' 'R' 'L' 'R' 'L'
 'B' 'L' 'B' 'L' 'L' 'L' 'L' 'L' 'R' 'R' 'R' 'R' 'R' 'R' 'L' 'L' 'R' 'L'
 'R' 'L' 'R' 'L' 'L' 'R' 'L' 'R' 'R' 'L' 'L' 'L' 'R' 'R' 'L' 'L' 'L' 'L'
 'L' 'L' 'R' 'L' 'R' 'R' 'L' 'R' 'R' 'L' 'R' 'R' 'L' 'L' 'L' 'R' 'L' 'R'
 'R' 'L' 'R' 'L' 'L' 'R' 'L' 'L' 'L' 'R' 'B' 'L' 'L' 'R' 'L' 'R' 'L' 'L'
 'L' 'R' 'L' 'R' 'R' 'L' 'L' 'R' 'R' 'R' 'L' 'R' 'R' 'L' 'L' 'R' 'R' 'R'
 'L' 'L' 'L' 'L' 'L' 'R' 'R' 'R' 'B' 'B' 'B' 'R' 'L' 'R' 'R' 'R' 'R' 'R'
 'L' 'R' 'L' 'L' 'L' 'L' 'R' 'L' 'R' 'L' 'R' 'R' 'L' 'L' 'B' 'L' 'R' 'R'
 'R' 'R' 'R' 'L' 'R' 'L' 'R' 'L' 'L' 'R' 'R' 'L' 'R' 'R' 'L' 'R' 'R' 'L'
 'B' 'L' 'L' 'L' 'L' 'L' 'R' 'L' 'L' 'R' 'R' 'L' 'L' 'R' 'L' 'R' 'R' 'R'
 'R' 'L' 'R' 'L' 'R' 'L' 'R' 'B' 'R' 'L' 'R' 'B' 'L' 'L' 'L' 'R']